@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shair color style*/
.dark-2{
    color: rgb(66, 66, 66);
    
}
*{
    margin: 0px;
}
body{
    width: 100%;
}
/*Header Style Start*/
.heading{
    width: 100%px;
    height: 1370px;
    background: rgba(255, 144, 14, 0.1);   
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 200px;
    margin-top: 50px;
}

.nav-content{
    display: flex;
    flex-direction: row;
    
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
}
.nav-content a{
    text-decoration: none;
    margin-top: 160px;
    margin-right: 60px;
}
.nav-content{
    margin-right: 180px;
    margin-top: 30px;
}
.brand-title{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
}
.brand-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.btn-primary{
    color: white;
    background: rgb(255, 144, 14);
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;  
    margin-top: 20px;
}
.btn button{
    margin-left: 47%;
}
.banner{
    margin-top: 50px;
    margin-left: 210px;
    margin-right: 210px;
}
.banner img{
    width: 100%;
}
/*Header Style End*/
/*start Gallery features style*/
.features{
    margin-bottom: 70px;
}
.our-features{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.our-features-container{
    display: flex;
    flex-direction:  row;
    margin-left: 300px;
    margin-right: 300px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-left: 40px;
    margin-top: 85px; 
}
.features-content{
    width: 700px;
    margin-top: 287px;
    margin-left: 76px; 
}
.features-content h2{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}
.features-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.third{
    color:rgb(255, 144, 14);
}
/*End Gallery features style*/

/* Enjoy start */
.enjoy-container{
    width: 70%;
    position: absolute;
    height: 1059px;
    margin-top:40px;
    margin-left: 280px;
    margin-right: 300px; 
    
}
.enjoy-content h2{
    color: rgb(19, 19, 19);
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 53px;
    padding-top: 35px;
    padding-left: 26px;
}
.enjoy-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}
.enjoy-content{
    margin-right: 146px;   
}
.enjoy-item{
    box-sizing: border-box; 
    padding: 10px 35px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.enjoy-item h4{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 23px;
}
.enjoy-item p{
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    margin-top: 10px;
}
.picture img{
    width: 708px;
    height: 1050px;
    margin-bottom: 40px ;
}
.enjoy-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
/* Enjoy End */
/*Responsive with Mobile*/
@media screen and (max-width:576px) {
    *{
        margin: 0px;
    }
    .nav-content{
        flex-direction: column; 
    }
    .nav-item{
        padding-top: 20px;
    }
    .heading{
        max-width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    .head{
        flex-direction: column;
    }
    .banner{
        width: 100%;
        margin-left: 0px;   
    }
    .banner img{
        margin-bottom: 40px;
    }
    .head h3 {
        margin-left: 0px;
    }
    .btn button {
        margin-left: 30%;
    }
    /*features style*/
    .gallery{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0px;
    }
    .our-features-container{
        flex-direction:column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }
    .gallery img{
        width: 100%;
    }
    .features-content {
        width: 700px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .features-content p{
        width: 400px;
        margin-top: 7px;
        margin-left: 6px;
    }
    .enjoy-flex {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .picture img {
        width: 405px;
        height: 550px;
        margin-bottom: 40px;
        margin-right: 0px;
        align-items: center;
    }
    .enjoy-container {
        width: 100%;
        height: 1059px;
        margin-top: 20px;
        margin-left: 150px;
        margin-right: 0px;
        align-items: center;
    }
    .enjoy-content {
        margin-right: 0px;
    }
    
       
    
}


/*Responsive with medium divice*/
@media screen and (max-width:992px) and (min-width:576px){
    .nav-content{
        margin-right: 0px;
    }
    .heading {
        width: 800px;  
    }
    .head{
        flex-direction: column;
    }
    .head h3{
        margin-left: 0px;
    }
    .banner {
        margin-left: 80px;   
    }
    .banner img {
        width: 650px;   
    }
    /*features style*/
    .gallery{
        margin-left: 0px;
        gap: 36px;
    }
    .our-features-container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .our-features-container{
        flex-direction:column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    } 
    .enjoy-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture img {
        width: 805px;
        height: 750px;
        margin-bottom: 40px;
        margin-right: 4px;
        align-items: center;
    }
}

